*, *:before, *::after{
    box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p{
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
    font: normal 0.9em/1em "Helvetica Neue", Helvetica, Arial, sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
}

strong {
    font-weight: 700;
}

.container {
    position: fixed;
    left: 25%;
    top: 3%;
    width: 620px;
    max-width: 80%;
    border: 1px solid #ccc;
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin: 3px;
    box-shadow: 0 0 10px 2px;
}

h1 {
    font: normal bold 2em/1.8em "Poppins" sans-serif;
    text-align: left;
    border-bottom: 1px solid #999;
    padding: 0;
    width: auto
}

h2 {
    font:  bold 1.3em/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    text-align: center;
    margin: 20px 0;
}

p.pager {
    margin: 5px 0 5px;
    font: bold 1em/1em "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #999;
}

#choices {
    display: block;
    margin: 0;
    padding: 0;
}

#selected{
    background-color: lightseagreen;
    border-color: rgb(20, 145, 138);
    font-weight: 700
}

.btn:focus{
    outline: none;
}

#bt_submit, #bt_go{
    margin-top: 30px;
    background: #b086c4;
    font-weight: 700;
    border-color: #ad70c9;
    color: rgb(34, 34, 34);
    padding: 30px 0px;
}

#bt_submit:hover, #bt_go:hover {
    background: #9a61b4;
}

.btn {
    width: 100%;
    margin-left: 50px;
    display: block;
    text-align: center;
    margin: 8px auto;
    padding: 8px 10px ;
    border: 1px solid #666;
    border-radius: 5px;
    border-width: 2px;
    outline: none;
    cursor: pointer;
    background-color:lightskyblue;
    border-color: lightseagreen;

}
.hover:hover{
    background-color: rgb(51, 196, 188);
    border-color: lightseagreen;
}
