  /* https://codepen.io/ehermanson/pen/KwKWEv */
  /* https://github.com/jrue/JavaScript-Quiz/blob/master/quiz.min.html */
  
  *, *:before, *:after {
      box-sizing: border-box;
  }

  body {
      background: #c1bdba;
      font-family: 'Titillium Web', sans-serif;
  }
  
  .container {
      background: rgba(19, 35, 47, 0.9);
      padding: 40px;
      max-width: 600px;
      margin: 40px auto;
      border-radius: 4px;
      box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }
  
  .tab-group {
      list-style: none;
      padding: 0;
      margin: 0 0 40px 0;
  }
  
  .tab-group:after {
      content: "";
      display: table;
      clear: both;
  }
  
  .tab-group li a {
      display: block;
      text-decoration: none;
      padding: 15px;
      font-size: 20px;
      float: left;
      width: 50%;
      text-align: center;
      cursor: pointer;
  }
  
  .tab-group li a:hover {
      background: #a05fa8;
      color: #ffffff;
  }

 .active{
    background: #a05fa8;
    color: #ffffff;
  }

  .tab-group li a:not(.active){
    background: #604264;
    color: #aea0b3;
  }

  h1 {
      text-align: center;
      color: #ffffff;
      font-weight: 300;
      margin: 0 0 40px;
  }
  
  input{
      font-size: 22px;
      display: block;
      width: 100%;
      padding: 5px 10px;
      background: none;
      color: #ffffff;
      border: 1px solid #a0b3b0;
  }
  
  input:focus{
      outline: 0;
      border-color: #c479ce;
  }
  
  input[type=text], input[type=password]  {
      position: relative;
      margin-bottom: 40px;
      height: 40px;
  }
  
  .button {
      border: 0;
      outline: none;
      border-radius: 0;
      padding: 15px 0;
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .1em;
      background: #c479ce;
      color: #ffffff;
  }
  
  .button:hover, .button:focus {
      background: #a05fa8;
      cursor: pointer;
  }
  
  .button-block {
      display: block;
      width: 100%;
  }
  
  .forgot {
      margin-top: -20px;
      text-align: right;
  }

  .forgot>a{
      color:#f6cbfc;
  }